{% embed 'partials/base.html.twig' %}

{% block content %}

<article class="post column small-12">
    <header class="post--header">
        <h1>{{ page.title }}</h1>
        <date class="post--date">{{ page.date|nicetime(true) }}</date>
    </header>
    <section class="post--body">
        {% if page.media[page.header.header_image_file] %}
            <img src="{{page.media[page.header.header_image_file].url}}" />
        {% endif %}
        {{ page.content }}
    </section>
</article>

{% if site.profile_at_bottom %}
{% include 'partials/post_profile.html.twig' %}
{% endif %}

<div class="post--nav column small-12">
    {% if not page.isFirst %}
    <span class="prev">
        <a href="{{ page.nextSibling.url }}">
            <span class="arrow">←</span>
            {{ page.nextSibling.title }}</a>
    </span>
    {% endif %}

    {% if not page.isLast %}
    <span class="next">
        <a href="{{ page.prevSibling.url }}">{{ page.prevSibling.title }}
            <span class="arrow">→</span>
        </a>
    </span>
    {% endif %}
</div>

{% if page.header.disqus %}
<div class="archive readmore column small-12">
    <h3>Comments</h3>
    {% include 'partials/disqus.html.twig' %}
</div>
{% endif %}

<footer style="padding: 20px;" class="row footer text-center">
  <p class="footer--text">&copy; {{ site.title }} {{ t("now"|date('Y')) }}</p>
</footer>

{% endblock %}

{% endembed %}
